<!doctype html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/site.css"/>
    <title>ZAUP | TOTP authentication using ZeroSeg</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="">
        <div class="jumbotron">
          <h1 class="display-3">ZAUP</h1>
          <p class="lead">TOTP authentication using ZeroSeg.</p>
        </div>
      </div>
      <div class="row">
        {% for secret in secrets %}
        <div class="card border-secondary mb-3">
          <div class="card-header">{{ secret[account.email] }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ secret[account.issuer] }}</h4>
            <img class="qr-code" src="/qr-code/{{ secret[account._id] }}"/>
            <a href="#"
              onclick="javascript:return false;"
              id="anchor-{{ secret[account._id] }}"
              class="token" title="click to copy" 
              data-clipboard-target="#anchor-{{ secret[account._id] }}"></a>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
    <script type="text/javascript">
      new ClipboardJS(".token");
      var interval = 1000;
      function updateToken(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            var elem = document.getElementById("anchor-" + id);
            if (elem.innerHTML !== xhr.responseText) {
              elem.innerHTML = xhr.responseText;
            }
          }
        }
        xhr.open('GET', '/token/' + id);
        xhr.send();

        setTimeout(function(){ updateToken(id) }, interval)
      }

      {% for secret in secrets %}
      updateToken({{ secret[account._id] }});
      {%- endfor %}
    </script>
  </body>
</html>