<!doctype html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script type="text/javascript" src="assets/js/vendor/clipboard.min.js"></script>
    <script type="text/javascript" async src="assets/js/site.js"></script>
    
    <link rel="icon" type="image/svg+xml" href="assets/images/logo.svg">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/site.css"/>
    <title>ZAUP | TOTP authentication using ZeroSeg</title>
  </head>
  <body class="d-flex flex-column h-100" onload="javascript:init()">
    <main class="flex-shrink-0">
    <div class="container-fluid">
      <div class="sticky-header">
        <div class="jumbotron">
          <h1 class="display-3 title"><img src="assets/images/logo.svg" class="logo"/>AUP</h1>
          <p class="lead">TOTP authentication using ZeroSeg.</p>
          <div class="countdown-timer">
            <h2 id="time-left"></h2>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
              <g>
                <circle id="circle" class="circle_animation" 
                        r="69.85699" cy="81" cx="81" 
                        stroke-width="8" stroke="none" fill="none"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="row">
        {% for index, secret in secrets %}
        <div class="card border-secondary mb-3">
          <div class="card-header">
            {% if icon(secret) %}
              <img class="icon" src="{{ icon(secret) }}"/>
            {% endif %}
            {{- secret.issuer -}}
          </div>
          <div class="card-body">
            <h5 class="card-title ellipsis" title="{{ secret.name }}"><span>{{ wbr(secret.name)|safe }}</span></h5>
            <img class="qr-code" src="/qr-code/{{ index }}"/>
            <a href="#"
              onclick="javascript:return false;"
              id="anchor-{{ index }}"
              class="token" title="click to copy" 
              data-clipboard-target="#anchor-{{ index }}"></a>
          </div>
        </div>
        {%- endfor %}
      </div>
      </div>
      <div class="modal fade" id="modal" tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">An error has occurred</h5>
            </div>
            <div class="modal-body">
              Connection to the server was interrupted.
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="fixed-top mt-auto py-5 container-fluid d-flex justify-content-center">
      <div id="snackbar" class="fade hide">
        <span id="snackbar-message" class="alert alert-success"></span>
      </div>
    </div>
  </body>
</html>