body {
  margin-top: 20px;
}

.token {
  font-size: 48px;
  font-weight: bold;
  color: #2196F3;
  display: block;
}

.card {
  width: 218px;
  margin-right: 15px;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card-header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.qr-code {
  width: 170px;
  height: 170px;
}

.countdown-timer {
  position: absolute;
  z-index: 1000;
  right: 72px;
  top: 72px;
}

.countdown-timer h2 {
  text-align:center;
  position: absolute;
  line-height: 160px;
  width: 100%;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: all 1s linear;
}